@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#code-preview {
  position: absolute;
  width: 100%;
}
._5rpu {
  background-color: red;
  font-family: 'Inconsolata', monospace;
  padding-left: 55px;
  opacity: 0;
}