@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#code-preview {
  position: absolute;
  width: 100%;
  max-width: 100%;
}
._5rpu {
  /*background-color: red;*/
  font-family: 'Inconsolata', monospace;
  /*padding-left: 42px;*/
}
._5rpu::selection {
  opacity: 1!important;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 12px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  position: absolute;
  z-index: 10;
  font-weight: bold;
}

#code-preview li.L0,
#code-preview li.L1,
#code-preview li.L2,
#code-preview li.L3,
#code-preview li.L4,
#code-preview li.L5,
#code-preview li.L6,
#code-preview li.L7,
#code-preview li.L8,
#code-preview li.L9 {
  padding-right: 8px;
}

/*Blinking cursor*/
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.highlight {
  position: absolute;
  width: 0;
  height: 17px;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 11;
}