.snippetParseButton {
    background-repeat: no-repeat;
    background-size: 100%;
}

.widgetMenu {
  width: 100%;
}

.widgetMenuForm {
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(0,0,255,0.2);

}

.widgetMenuPreview {
  float: right;
}