.snippetParseButton {
    background-repeat: no-repeat;
    background-size: 50%;
}

.widgetMenu {
  width: 100%;
}

.widgetMenuForm {
  background-color: rgba(0,0,255,0.2);
	padding:10px;
}

.widgetMenuPreview {
  float: right;
  padding-right: 10px;
}