.snippetParseButton {
    background-repeat: no-repeat;
    background-size: 60%;
    margin:20% 0% 0% 20%;
}

.widgetMenu {
  width: 100%;
}

.widgetMenuForm {
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(0,0,255,0.2);
	padding:10px;
}

.widgetMenuPreview {
  float: right;
}